### loc 인덱싱

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc["a"] # 인덱싱 값을 하나만 받는경우

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [ ]:
df.T["a"] #트렌스 같은값

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [ ]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
df.T["a":"c"] #다른이유

Empty DataFrame
Columns: [a, b, c]
Index: []

In [ ]:
df["b":"c"] #loc 와 같은값

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [14]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [16]:
df[["b","c"]] # list 는 loc 안쓰면 오류가 난다

KeyError: "None of [Index(['b', 'c'], dtype='object')] are in the [columns]"

In [17]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [18]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [27]:
def select_rows(df):
    return df.A > 15

In [28]:
select_rows(df)# 함수 사용 가능

a    False
b    False
c     True
Name: A, dtype: bool

In [29]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21