### Pands 이해

In [1]:
import pandas as pd

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

In [3]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [5]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [ ]:
s.name = "인구" # Series data name
s.index.name = "도시" # index data name
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### Series 인덱싱

In [8]:
s[1] , s["부산"]

C:\Users\wosle\AppData\Local\Temp\ipykernel_27472\436193786.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1] , s["부산"]

(3448737, 3448737)

In [9]:
s[3] , s["대구"]

C:\Users\wosle\AppData\Local\Temp\ipykernel_27472\4250119398.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3] , s["대구"]

(2466052, 2466052)

In [10]:
s[[0,3,1]]

C:\Users\wosle\AppData\Local\Temp\ipykernel_27472\181403017.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [11]:
s[["서울","대구","부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
s[(250e4 < s) & (s < 500e4)]  # 조건도 걸수 있다.

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [ ]:
s[1:3] # 두번째(1) 부터 세번째(2)까지 ! 네번째 미포함

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [ ]:
s["부산":"대구"] # 부산에서 대구(대구도 포함)

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [ ]:
s0 = pd.Series(range(3), index=["a", "b", "c"]) # 인덱스 a,b,c 
s0

a    0
b    1
c    2
dtype: int64

# Series 의 딕셔너리 자료형
### in 사용가능 items매서드 사용으로 for 루프로 key , value 접근가능

In [17]:
for k, v in s.items():
    print("%s = %d" % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [ ]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}) # 대전 포함한 자료
s2
# 딕셔너리는 애초에 순서 보장이 안된다

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"]) # 인덱스를 리스트로 저장
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산

In [ ]:
ds = s - s2 
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [29]:
s2.values

array([3393191, 9631482, 2632035, 1490158], dtype=int64)

In [30]:
s.values - s2.values

array([ 6511121, -6182745,   258416,   975894], dtype=int64)

In [31]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [34]:
# 인구 증가율
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

### 데이터의 갱신,추가,삭제

In [35]:
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [36]:
rs["대구"] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [39]:
rs["서울"] = 2.832690

In [40]:
rs

부산    1.630000
인천    9.818107
대구    1.410000
서울    2.832690
dtype: float64

In [ ]:
del rs["서울"] # rs에 이미 지워져있음
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

In [1]:
# 연습문제
# (1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 
# 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.
# (2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [43]:
a = pd.Series([5000,8000,9000,4000],index=["만두","김치찌개","간짜장","순두부"])
b = pd.Series([5000,8000,9000,2000],index=["만두","김치찌개","간짜장","핫바"])

In [44]:
a

만두      5000
김치찌개    8000
간짜장     9000
순두부     4000
dtype: int64

In [45]:
b

만두      5000
김치찌개    8000
간짜장     9000
핫바      2000
dtype: int64

In [46]:
a-b

간짜장     0.0
김치찌개    0.0
만두      0.0
순두부     NaN
핫바      NaN
dtype: float64

In [47]:
a+b

간짜장     18000.0
김치찌개    16000.0
만두      10000.0
순두부         NaN
핫바          NaN
dtype: float64